:root {
 --background-color:#FFFFFF ;
 --cornflower: #E7E9FC ;
 --main-text-color: #2E2F42 ;
 --cloud:#f4f4fd ;
 --iris: #4D5AE5 ;
 --ocean: #404BBF ;
 --secondary-text-color:#434455 ;

  }

  img{
    display: block;
  }
.header-hero{
background-color:var(--background-color);
}

.container{
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  
}

.header-hero{
  border-bottom: 1px solid #e7e9fc ; 
}

.header-container{
  display: flex;
  align-items: center;

}

.header.nav{
  display: flex;
  align-items: center;
  
}
.header-link{
  display: flex;
}

.header-list{

  display: flex;
  gap: 40px;

}
.header-contacts{
  display: flex;
  gap: 40px;

}

.header-link{
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--iris);

}

.header-logo{
  font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--main-text-color);
flex: none;
margin-right: 76px;
}

.nav-link{
  font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--main-text-color);
margin-right: 40px;
margin-left: 40px;
margin-bottom: 25,5px;
margin-bottom: 25,5px;
padding: 24px o;
display: block;
}

.link{
  text-decoration: none;
}
  .link:hover,
  .link:focus{
    color:var(--ocean);
    color:var(--ocean) ;
  }

  .contacts{
    font-style: normal;
   
  }

  .header-item{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color:var(--main-text-color) ;
    flex: none;
   
  }

  .list{
    list-style: none;
    text-decoration: none;
   


  }
  .contact{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

      }

      .section-hero{
       display: block;
       padding: 188px 0;
      }

      .hero-body-title{
      max-width: 496px;
        margin: auto;
        margin-bottom: 48px;
     
        
      }
      main{
        background-color: #FFFFFF;
      }


  .order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--light-text-color);
    background:var(--ocean);
    cursor: pointer;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    height: 56px;
    margin:0 auto;
    
}

.order-button{
background-color: var(--ocean)
}
.order-button:hover,
.order-button:focus {
    background-color:var(--ocean) ;
  }

  .order-button{
    background-color:var(--iris);
    color:var(--background-color);
    }

  .section-hero{
    background-color:var(--main-text-color) ;
  }

 
  .list{
    display: flex;
  }
  body{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
   
  background-color: var(--background-color);
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
  }

.hero-body-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--background-color);
    
}
.features-container{
  padding: 120px 0;
  display: flex;
}

.features-section-list{
  display: flex;
  gap: 24;

}

.features-list{
  flex-basis: 
}

.features-title-item{
    font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--main-text-color) ;
flex: none;
margin-bottom: 8px;

}



.features-text-item{
    font-family: 'Roboto',sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
flex: none;

}

.doing-section{
  background-color:var(--background-color);
  padding-bottom: 120px;
}

.sub-title{
  margin-bottom: 72px;
}
.team-section{
  padding: 120px 0;
}
.team-list{
  gap: 24px;
}
.workers{
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px; 
}
.sub-title{
  font-family: 'Roboto',sans-serif;
font-weight: 700;
font-size: 36px;
line-height:1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-text-color);
text-align: center;
margin-bottom: 72px;
}

.features-title-item{
  text-align: center;
}

.features-text-item{
  text-align: center;
}

.footer-section{
  background-color:var(--main-text-color);
}

.footer-link{
  font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--iris) ;
    text-decoration: none;
}

.footer-logo{
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  flex: none;
  text-decoration: none;
}
.footer-text-item{
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color:var(--cloud);
  flex: none;
  
}

.portfolio-container{
  padding: 96px 120px;
}

.filter-button-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button{
  font-family:'Roboto',sans-serif ;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  width: 126px;
  height: 48px;
  color: var(--iris) ;
  background-color: var(--cloud);
  cursor: pointer;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
    }

  
    .filter-button:hover,
    .filter-button:focus{
      background-color: var(--ocean);
      color:var(--cornflower ) ;
    }

    .filter-button:hover,
    .filter-button:focus{
     color:var(--background-color);
    }
    .filter-button:hover,
    .filter-button:focus{
      border: 1px solid transparent;
      border: 1px solid transparent
    }


  .link{
    text-decoration: none;
    
  }
.projects-list{
  display:flex ;
  flex-wrap: wrap;


  

}
  .features-subtitles{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height:1.2;
    letter-spacing: 0.02em;
    color:var(--main-text-color);
  }

  .features-items{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
    text-decoration: none;
  }